// This file was generated for Start Bootstrap UI Kit Pro
// https://startbootstrap.com/theme/sb-ui-kit-pro
// Place this file in src/scss/_variables-colors-overrides.scss

$primary: #aa0ba4;
$secondary: #ff5a04;
$success: #00ac69;
$info: #bb28af;
$warning: #f4a100;
$danger: #e81500;
